<%= link_to "Upload new foto", new_photo_path , class: "btn btn-default"%>
<br>
<% if @photos == [] %>
	Photos ninchen
<% else %>
	<% @photos.each do |photo| %>
 	<%= image_tag photo.photo_url, whdth: 200, height: 200 %>
 	<p>Name<%= photo.name %></p>
 	<p>Category<%= photo.category.name %></p>
 	<p>User<%= photo.user.nickname %></p>
 	<p><% if current_user != nil and current_user.id == photo.user_id %>
 		<%= link_to "Edit", edit_photo_path(photo.id) %>
 		<%= link_to "Delete", photo_path(photo.id), data: {confim: 'Are you sure?'}, method: :delete %>
 	<% end %>
 	</p>
  	<% end %>
  <% end %> 

